# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
ReleaseRuntimeUnicode/Template.lib
*.idb
ReleaseRuntimeUnicode/Runtime.obj
ReleaseRuntimeUnicode/ObjectSelection.obj
*.obj
*.tlog
*.log
*.exp
DebugUnicode/Template.lib
.vs/FileInfos/v14/.suo
DebugUnicode/Ext.res
ReleaseEditorUnicode/Template.lib
FileInfos.v12.suo
FileInfos.vcxproj.user
