# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
FileInfos.vcxproj.user
.vs/FileInfos/v14/.suo
FileInfos.v12.suo
DebugUnicode/vc120.pdb
DebugUnicode/Template.exp
*.obj
DebugUnicode/FileInfos.tlog/rc.write.1.tlog
*.tlog
DebugUnicode/Ext.res
*.log
DebugUnicode/Template.lib
*.pdb
DebugUnicode/vc120.idb
Pixel.v12.suo
ReleaseEditorUnicode/Ext.res
ReleaseEditorUnicode/Template.exp
ReleaseEditorUnicode/Template.lib
ReleaseEditorUnicode/vc120.idb
ReleaseRuntimeUnicode/Ext.res
ReleaseRuntimeUnicode/Template.exp
ReleaseRuntimeUnicode/Template.lib
ReleaseRuntimeUnicode/vc120.idb
Exiv2.v12.suo
exiv2.exe
